openapi: 3.0.3
info:
  title: Modula Inbound Adapter API
  version: 1.0.0
  description: >
    Receives inventory events from Modula WMS (webhook push or middleware pull),
    validates against the InventoryEventEnvelope CDM, enriches controlMessage
    (publishTimestamp, partitionKey) and publishes to Azure Event Hubs.
    Exposed via API Management; secured with OAuth2 client credentials (Entra ID).
servers:
  - url: https://apim-modula-int.azure-api.net/modula-adapter/v1
security:
  - oauth2: [inventory.publish]
paths:
  /inventory/events:
    post:
      operationId: publishInventoryEvent
      summary: Accept a single CDM inventory event and publish to Event Hub
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryEventEnvelope'
      responses:
        '202':
          description: Accepted and published to Event Hub
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishAck'
        '400':
          description: Schema validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Duplicate messageId (idempotency violation)
        '401': { description: Unauthorized }
        '503': { description: Event Hub unavailable — caller should retry with backoff }
  /inventory/events/batch:
    post:
      operationId: publishInventoryEventBatch
      summary: Publish up to 100 CDM events in one call (single Event Hub batch)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              maxItems: 100
              items:
                $ref: '#/components/schemas/InventoryEventEnvelope'
      responses:
        '202':
          description: Batch accepted; per-item results returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted: { type: integer }
                  rejected: { type: integer }
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublishAck'
        '400': { description: Malformed batch }
  /inventory/events/{messageId}/status:
    get:
      operationId: getEventStatus
      summary: Track delivery status of a published event across consumers
      parameters:
        - name: messageId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryStatus'
          description: Current status per target system
        '404': { description: Unknown messageId }
  /health:
    get:
      operationId: healthCheck
      security: []
      summary: Liveness/readiness probe
      responses:
        '200': { description: Healthy }
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            inventory.publish: Publish inventory events
  schemas:
    InventoryEventEnvelope:
      externalDocs:
        description: Full CDM JSON Schema (source of truth)
        url: https://tffi.com/schemas/integration/inventory-event/v1.0.0
      type: object
      required: [controlMessage, payload]
      properties:
        controlMessage:
          $ref: '#/components/schemas/ControlMessage'
        payload:
          $ref: '#/components/schemas/InventoryPayload'
    ControlMessage:
      type: object
      required: [messageId, correlationId, eventType, operation, sourceSystem, schemaVersion, eventTimestamp]
      properties:
        messageId: { type: string, format: uuid }
        correlationId: { type: string, format: uuid }
        causationId: { type: string, format: uuid }
        eventType:
          type: string
          enum: [InventoryMovement, InventoryAdjustment, CycleCount, PutAway, Pick, StockOnHandSnapshot]
        operation:
          type: string
          enum: [CREATE, UPDATE, DELETE, UPSERT, SNAPSHOT, REVERSAL]
        sourceSystem: { type: string, enum: [MODULA] }
        targetSystems:
          type: array
          items: { type: string, enum: [D365, DATAHUB, ALL] }
        schemaVersion: { type: string, example: 1.0.0 }
        eventTimestamp: { type: string, format: date-time }
        publishTimestamp: { type: string, format: date-time, readOnly: true }
        priority: { type: string, enum: [HIGH, NORMAL, LOW], default: NORMAL }
        retryCount: { type: integer, default: 0 }
        partitionKey: { type: string }
        tenant: { type: string, example: TFFI }
    InventoryPayload:
      type: object
      required: [warehouseId, lines]
      properties:
        warehouseId: { type: string }
        vlmUnitId: { type: string }
        referenceDocument:
          type: object
          properties:
            documentType:
              type: string
              enum: [TransferOrder, SalesOrder, PurchaseOrder, ProductionOrder, AdjustmentJournal, CountingJournal, None]
            documentNumber: { type: string }
            documentLine: { type: integer }
        operator: { type: string }
        lines:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/InventoryLine'
        extensions:
          type: object
          additionalProperties: true
    InventoryLine:
      type: object
      required: [lineNumber, itemId, quantity, unitOfMeasure, transactionType]
      properties:
        lineNumber: { type: integer }
        itemId: { type: string }
        itemDescription: { type: string }
        quantity: { type: number }
        unitOfMeasure: { type: string }
        transactionType:
          type: string
          enum: [RECEIPT, ISSUE, ADJUSTMENT_IN, ADJUSTMENT_OUT, COUNT, TRANSFER]
        fromLocation: { $ref: '#/components/schemas/Location' }
        toLocation: { $ref: '#/components/schemas/Location' }
        tracking:
          type: object
          properties:
            batchNumber: { type: string }
            serialNumber: { type: string }
            expirationDate: { type: string, format: date }
        countedQuantity: { type: number }
        expectedQuantity: { type: number }
        reasonCode: { type: string }
        unitCost: { type: number }
        currency: { type: string }
    Location:
      type: object
      properties:
        locationId: { type: string }
        trayId: { type: string }
        cellId: { type: string }
    PublishAck:
      type: object
      properties:
        messageId: { type: string, format: uuid }
        status: { type: string, enum: [PUBLISHED, REJECTED, DUPLICATE] }
        eventHubPartition: { type: string }
        offset: { type: string }
        error: { type: string }
    DeliveryStatus:
      type: object
      properties:
        messageId: { type: string, format: uuid }
        published: { type: string, format: date-time }
        targets:
          type: array
          items:
            type: object
            properties:
              target: { type: string, enum: [D365, DATAHUB] }
              status: { type: string, enum: [PENDING, DELIVERED, FAILED, DEADLETTERED] }
              lastAttempt: { type: string, format: date-time }
              attempts: { type: integer }
              error: { type: string }
    ErrorResponse:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        validationErrors:
          type: array
          items:
            type: object
            properties:
              path: { type: string }
              error: { type: string }
